@import "tailwindcss/base";

@import "./bootstrap.css";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "./utilities/markup.css";
@import "./utilities/ray.css";

.text-gradient {
  background: -webkit-linear-gradient(bottom left, theme('colors.indigo.900'), theme('colors.indigo.500'));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tabular-nums {
  font-variant-numeric: tabular-nums;
}

.background-01 {
  opacity: 0;
  transform-origin: 0 50%;
  animation: background-appear-left .2s 0.3s ease-out forwards;
}

.background-02 {
  opacity: 0;
  transform-origin: 100% 50%;
  animation: background-appear-right .2s 0.6s ease-out forwards;
}


@keyframes background-appear-left {
  0%{
      opacity: 0;
      transform: translate(-100%, -42%);
  }
  100%{
      opacity: 1;
      transform: translate(0, 0);
  }
}

@keyframes background-appear-right {
  0%{
      opacity: 0;
      transform: translate(100%, -50%);
  }
  100%{
      opacity: 1;
      transform: translate(0, 0);
  }
}

.tooltip-reveal{
  @apply opacity-0;
  @apply transition-all;
  @apply duration-500;
  @apply delay-500;
  @apply bg-indigo-500;

}

.group:hover .tooltip-reveal {
  @apply opacity-10;

}

.tooltip-hover {
  @apply opacity-0;
  @apply bg-indigo-500;
  @apply bg-opacity-50;
  @apply transition-opacity;
  @apply duration-300;
}

.tooltip-hover:hover {
  @apply opacity-25 !important;
}
